---
title: Ben Rajs Wagner
layout: default
---
include mixins

-
  var animDuration = 1.0
  var titleStrings = ['Ben ', 'Rajs ', 'Wagner']
  var titleAnimDuration = animDuration / titleStrings.length
  var projects = [
    [
      { title: 'Hey,Charlie', image: 'hey-charlie.jpg', url: 'hey-charlie'},
      { title: 'Rocketgilbs', image: 'rocketgilbs.jpg', url: 'rocketgilbs' }
    ],
    [
      { title: 'DrawLaPhone', image: 'drawlaphone.jpg', url: 'drawlaphone'},
      { title: 'GPS Alarm Clock', image: 'gps-alarm-clock.jpg', url: 'gps-alarm-clock' }
    ],
    [
      { title: 'STAR Submarine', image: 'star-submarine.jpg', url: 'star-submarine' },
      { title: 'Heightmap Generation', image: 'heightmap-generation.jpg', url: 'heightmap-generation' }
    ],
    [
      { title: 'PCG 3D Maze', image: '3d-maze.jpg', url: '3d-maze' }
    ]
  ]

header
  div.navbar-fixed
    nav.nav-wrapper
      ul.left
        li
          a(href='#about') About
        li
          a(href='#projects') Projects
        li
          a(href='#contact') Contact

main
  div.purple.jumbotrax.jumbotrax-height.z-depth-2
    div.word-holder
      span.jumbotrax-word-block.jumbotrax-title-text.white-text
        each val, index in titleStrings
          span.wow.fadeIn.text-shadow-2(
            data-wow-duration=titleAnimDuration + 's',
            data-wow-delay=index * titleAnimDuration + 's'
          )=val
      span.wow.fadeInLeft.jumbotrax-word-block.jumbotrax-subtitle-text.white-text.text-shadow-2(
        data-wow-duration='0.5s',
        data-wow-delay=animDuration + 's'
      ) Web, mobile, games, etc.
  div.triangle
  div.container
    +section('About')
      p.flow-text.
        Welcome to my digital portfolio! I'm Benno, an aspiring software engineer currently studying computer science at Northeastern University. I am interested in game and app development, UI design, database optimization, reverse engineering, and shell scripting. I like to play guitar, bindge-listen to podcasts, and program in my spare time.
    +section('Projects')
      p.flow-text.
        Click on an image for a description of the project it shows. Visit my #[a(href='https://github.com/brwagner') GitHub] for source code.
      div.row
        each project_row, row_index in projects
          div.row
            each project, project_index in project_row
              div.wow.col.s12.m6(class=(
                  (project_index % 2 == 0 ? 'fadeInLeft' : 'fadeInRight') +
                  (row_index == projects.length - 1 && project_row.length == 1 ? ' push-m3' : '')
                ),
                data-wow-duration=animDuration + 's'
              )
                a(href='/projects/' + project.url)
                  img.hoverable.responsive-img.z-depth-2(src='/img/' + project.image)
                h5.center-align(style='text-decoration: none;')=project.title
    +section('Contact')
      p.flow-text.center-align.
        The best way to reach me is by email at #[a(href='mailto:brajswagner@gmail.com') brajswagner@gmail.com].#[br]Also, feel free to add me on #[a(href='https://www.linkedin.com/in/brajswagner') Linkedin].
